---
title: Home page
kind: index
---

p
  | dcoded.nl can help your product development in three distinct ways: Help shape leadership, support or create engineering management and, in certain cases, individual contributions to your code bases. At least distinct in theory. Let's find out what our collaboration will bring for your organisation.

p Some posts by us.
.recent
  - @items.select{ |item| item.key?(:created_at)}.sort{|a,b| a[:created_at] <=> b[:created_at] }.map do |item|
    .article== link_to("#{item[:title]} - #{item[:subtitle]} ", item)
