@font-face {
  font-family: "RollingNoOne";
  src: url("assets/fonts/RollingNoOne-ExtraBold.woff") format('woff');
}

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

// // usage
// .my-box {
//   padding: 10px;

//   @include for-desktop-up {
//     padding: 20px;
//   }
// }


body {
  color: #444;
  font-size: 3ex;
  margin: 0px auto 0px auto;
  max-width: 80vw;
  background: #e6e6e6;
  line-height: 1.4;
  font-family: Sans-Serif;
  &.landing {
    max-width: unset;
  }
}

body.landing > * {
  padding: 0px 10vw 0px 10vw;
}

#main {
  margin-top: 3vw;
  margin-bottom: 6vw;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

code {
  background-color: #eee;
}

div#header {
  border-bottom: 2px solid black;
  margin-bottom: 30px;
  padding: 12px 0px 12px 0px;
}

div#logo a {
  color: black;
  float: left;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  border-bottom: 2px solid #ddd;
  margin-bottom: 1em;
  background-color: #1d1d7f;
  gap: 1em;

  .tags {
    overflow: hidden;
    min-width:fit-content;
    @include for-phone-only() {
      display: none;
    }
    a {
      font-size: 0.8em;
      text-transform: initial;
    }
  }

  a {
    color: #888;
    font-weight: bold;
    text-transform: uppercase;
    // padding-top: 1vh;
    // padding-bottom: 1vh;
  }

  .site-title{
    font-size: 260%;
    letter-spacing: -.3rem;
  }

  p.site-title{
    font-size: unset;
    letter-spacing: unset;
  }

  .vertical {
    /* just follow normal flow, only add some padding */
    padding-top: 1vh;
  }
}

footer {
  align-items: center;
  background-color: #1d1d7f;
  display: flex;
  font-size: .8rem;
  height: 2.4em;
  justify-content: space-around;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  a {
    color: #e6e6e6;
  }
}

.landing footer {
  padding: unset;
}

h1 {
  font-size: 1.8em;
  line-height: 1.2;
}

h2 {
  font-size: 1.4em;
  line-height: 1.2;
}

div.info {
  color: #444;
  font-size: .8em;
  font-style: italic;
}

div.intro {
  border-left: .1em solid #444;
  color: #444;
  font-size: .8em;
  font-style: italic;
}

.tags {
  display: flex;
  flex-direction: column;
  a {
    font-size: 0.8em;
    // text-transform: initial;
  }


  a {
    color: #888;
    font-weight: bold;
    // text-transform: uppercase;
    // padding-top: 1vh;
    // padding-bottom: 1vh;
  }

}

.thumbnail {
  float: left;
  margin-top: 30px;
  margin-right: 10px;
  padding: 10px;
  max-height: 320px;
}

img {
  max-width: 100%;
}

.img-left {
  float: left;
  margin-right: 10px;
  padding: 10px;
}

.img-right {
  float: right;
  margin-right: 10px;
  padding: 10px;
}

.site-title {
  font-family: RollingNoOne;
  color: #e6e6e6;
  text-transform: unset;
}

.primary-color {
  background-color: #1d1d7f;
  color: #e6e6e6;
}

.for-phone-only {
  @include for-tablet-portrait-up() {
    display: none;
  }
}
