<head>
  <meta charset="utf-8">
  <title><%= ['dcoded Blog', @item[:title]].compact.join(' - ') %></title>
  <link rel="stylesheet" href="/stylesheet.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
</head>
