<!DOCTYPE HTML>
<html lang="en">
  <%= render('/_head.html.erb') %>
  <body>
    <!-- <img src="/assets/images/logo.svg"> -->
    <nav>
      <a href="/" class="site-title">dcoded.nl</a>
      <div class="tags">
        <% if @item && @item[:tags] %>
          <% @item[:tags].each do |tag| %>
            <%= link_to(tag, "/tags/#{tag}.html") %>
          <% end %>
        <% end %>
      </div>
    </nav>
    <div id="main">
      <%= yield %>
      <div class="tags for-phone-only">
        <hr>
        Read more posts about
        <% if @item && @item[:tags] %>
          <% @item[:tags].each do |tag| %>
            <%= link_to(tag, "/tags/#{tag}.html") %>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= render("/_footer.html.erb") %>
  </body>
</html>
