<!DOCTYPE HTML>
<html lang="en">
  <%= render('/_head.html.erb') %>
  <body class="landing">
    <nav>
      <!-- div.primary-color -->
      <section class="vertical">
        <a href="/" class="site-title">dcoded.nl</a>
        <p class="site-title"> complex domains <br> simple solutions </p>
      </section>
      <div id="tags">
        <% if @item && @item[:tags] %>
          <% @item[:tags].each do |tag| %>
            <%= link_to(tag, "/tags/#{tag}.html") %>
          <% end %>
        <% end %>
      </div>
    </nav>
    <div id="main">
      <%= yield %>
    </div>
    <%= render("/_footer.html.erb") %>
  </body>
</html>
