<!DOCTYPE HTML>
<html lang="en">
  <%= render('/_head.html.erb') %>
  <body>
    <nav>
      <a href="/" class="site-title">dcoded.nl</a>
    </nav>
    <div id="main">
      <h1>Tag: <%= tag %></h1>
      <ul>
      <% items_with_tag(tag).each do |item| %>
        <li>
          <%= link_to(item[:title], item) %>
          <p>Other tags: <%= tags_for(item) %></p>
        </li>
      <% end %>
      </ul>

    </div>
    <%= render('/_footer.html.erb') %>
  </body>
</html>
